---
---
@import "{{ site.theme }}";

article ul li {
    list-style-image: none !important;
    list-style-type: disc !important;
    margin-left: 20px !important;
}

article ul li::before {
    content: "" !important;
}